<!-- animatednavbar -->
<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
      <button mat-button>
          <img src="../assets/images/beer.png" alt="Logo">
    <span class="nav-brand">CRAFTS-BEER</span>
      </button>
    
    <span class="example-spacer"></span>
    <img class="example-icon" src="../assets/images/man.png" alt="user">
    <!-- <mat-icon class="example-icon add-remove-icon">person</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<!-- <home [isDesktop]="isDesktop" [showWidget]="showWidget"></home> -->
<div class="container">
  <router-outlet></router-outlet>

  <div class="image-ref">Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>